.gv-page-header {
	background: colour('multimedia-main-2');
	min-height: 460px;
	box-sizing: border-box;
	margin-bottom: 10px;
	* {
		box-sizing: border-box;
	}

	.gv-header-container {
	
		margin: 0px auto;
		padding: 20px;
	}
	.gv-header-blank {
		height: 60px;
		width: 300px;
		border: 3px solid #fff;
		border-radius: 4px;
		display: inline-block;
		margin-right: 10px;
	}
}

.gv-wrapper {
	width: 100%;
	padding: 0;
	margin: 0px auto;
}

.gv-container {
	float: left;
	width: 100%;
	overflow: visible;
	border-bottom: 5px solid #fff;
	padding-bottom: 40px;
	
}

.gv-container-response {
	border-top: 2px solid colour('multimedia-main-2');
}

.gv-excerpt {
	border-bottom: 1px solid colour('neutral-5');
	background: colour('neutral-7');
	padding: 20px;

	.gv-blank {
		width: 230px;
		height: 36px;
	}
}

.gv-response {
	display: none;
}


.gv-break-text {
	display: block;
	height: 60px;
	width: 100%;
	line-height: 60px;
	text-align: center;
	.gv-break-line {
		width: 160px;
		height: 2px; 
		background: colour('neutral-4');
		display: inline-block;

	}
}


select.gv-select-box {
	width: 100%;

	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   
    border: 2px solid colour('multimedia-main-2');
	background: #fff;
    border-radius: 3px;
    line-height: 1em;
    background-image: url(https://interactive.guim.co.uk/2015/aug/un/imgs/arrow.2caae179.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    max-width: 300px;
  	margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    font-family: Guardian Egyptian Web,Georgia,serif;
    font-weight: 900;
}

.gv-selected {
	.gv-response {
		display: block;
		padding-left: 20px;
	}

	.gv-word-select {
		display: none;
	}

	background: colour('neutral-8');

	.gv-excerpt {
		background: colour('neutral-6');
	}
}

.gv-header {
	padding-left: 20px;
}


@media(min-width:660px){

	.gv-wrapper {
		max-width: 660px;
		padding: 0 20px;
	}

	.gv-container {

	}

	.gv-blank {
		width: 260px;
	}

	.gv-page-header {
		.gv-header-blank {
			width: 460px;
		}
	}
	
}

@media(min-width:740px){

	.gv-wrapper {
		max-width:740px;
	}

	.gv-col-content {
		float: left;
		width: 66%;
	}

	.gv-col-response {
		float: left;
		width: 33%;
		padding-left: 20px;
	}

	.gv-page-header {
		
		.gv-header-container {

			max-width: 740px;
		}
		
	}


}

@media(min-width:980px){

	.gv-wrapper {
		max-width:980px;
	}

	.gv-col-content {
		width: 620px;
	}

	.gv-col-response {
		width: 220px;
	}

	.gv-page-header {
		
		.gv-header-container {

			max-width: 740px;
		}
		
	}

}

@media(min-width:980px){
	.gv-page-header {
		
		.gv-header-container {

			max-width: 980px;
		}
		
	}
}

@media(min-width:1140px){

	.gv-wrapper {
		max-width:1140px;
	}

	.gv-col-content {
		margin-left: 160px;
	}

	.gv-header {
		padding-left: 160px;
	}

	.gv-page-header {
		

		.gv-header-container {

			max-width: 1140px;
			padding-left: 180px;
		}
		
	}

}


@media(min-width:1300px){

	.gv-wrapper {
		max-width:1300px;
	}

	.gv-col-content {
		margin-left: 240px;
	}

	.gv-col-response {
		width: 260px;
	}

	.gv-header {
		padding-left: 240px;
	}

	.gv-page-header {
		.gv-header-container {
			max-width: 1260px;
			padding-left: 240px;
		}
	}



}


