@import 'modules/_breakpoints';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_mq';
@import 'modules/_side-margins';

@import 'layout';
@import 'type';

body {
    margin: 0;
    padding: 0;
}

.interactive {
	margin: 0;
}
// Setup page
.gv-wrapper {
	box-sizing:border-box;
    line-height: 1;

    font-family:'Guardian Egyptian Web','Egyptian Display', Georgia;
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 20px;


    *{
        box-sizing:border-box;
    }


}