.gv-page-header {
	padding: 10px 0;
	h1 {
		font-family: $f-serif-headline;
		font-weight: 200;
		margin: 10px 0;
		color: #333;
		max-width: 880px;
		font-size: 40px;
		line-height: 1;
	}

	h1.gv-fill-in {
		color: #fff;
		font-weight: 400;
	}

	p {
		
		@include fs-bodyCopy(2);
		max-width: 880px;

	}
}

.gv-container {

	
	
	h4 {
		@include fs-header(4);
		margin: 10px 0;
		display: inline-block;
	}

	.gv-col-response {
		h4 {
			margin: 20px 0 0 0;
		}
	}

	p {
		
		@include fs-bodyCopy(2);

	}

	#gv-response {
		p {
			@include fs-bodyCopy(3);
		}
	}
}

.gv-response-header {
	background: colour('comment-support-4');
}


.gv-excerpt {
		@include fs-headline(2);
		line-height: 30px;

		.gv-blank {
			background: colour('multimedia-main-2');
			//border-bottom: 2px solid colour('multimedia-main-2');
			border-radius: 3px;
			color: #c05303;
			display: inline-block;
			text-align: center;
			font-weight: 600;
			line-height: 30px;
		}

		span {
			visibility: hidden;
			font-size: 16px;
		}
	}	

.gv-container.gv-selected {
	
	.gv-excerpt {
		span {
			visibility: visible;
		}
	}
	
}

.gv-response span {
	background: colour('multimedia-main-2');
	color: #fff;
	padding: 3px;
	border-radius: 2px;

	color:#c05303;
}

.gv-user-choice {
	
	
	color: #c05303;
	display: inline;
	@include fs-headline(4);

}

@media(min-width:660px){
	.gv-excerpt {
		@include fs-headline(3);
		line-height: 36px;

		span{
			font-size: 18px;
		}
	}
	.gv-blank {
		height: 36px;
	}

}

@media(min-width:980px){
	.gv-page-header {
		h1 {
			font-size: 60px;
			line-height: 1;
		}

		p {
		
			@include fs-bodyCopy(3);

		}
	}



}



